@model IEnumerable<Product>

@{
ViewData["Title"] = "Catalog";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/animations/fade-in.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/CatalogPage.css" asp-append-version="true"/>
</head>
<body>
<!-- CatalogPage -->
<div class="fade-in">
    <div class="catalog-page">
        <h1>Каталог</h1>
        <div class="product-list">
            @foreach (var product in Model)
            {
            <div class="product">
                <h3>@product.Name</h3>
                <img src="@product.Image" alt="@product.Name" />
                <p>Price: @product.Price</p>
                <p>@product.Description</p>
                <form asp-action="AddToCart" asp-controller="Cart" method="post">
                    <input type="hidden" name="productId" value="@product.Id" />
                    <button type="submit">Добавить в корзину</button>
                </form>
            </div>
            }
        </div>
    </div>
</div>
</body>
</html>
